<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Profile - Placement Management System</title>
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
	integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

	<!-- Navbar -->
	<header>
		<div class="navbar">
			<div class="nav-logo">
				<div class="logo">PlacementStudio</div>
			</div>
			<div class="nav-links">
				<a href="#Home">Home</a> <a href="#Aboutus">About us</a> <a
					href="#Contactus">Contact us</a> <a th:href="@{/logout}">Logout</a>
				<!-- Link for logout -->
			</div>
		</div>
	</header>

	<!-- Profile Section -->
	<div class="profile-container">
		<div class="profile-info">
			<h2>
				Welcome, <span th:text="${user.email}">User</span>!
			</h2>
			<!-- Or if you added name field -->
			<p>
				Email: <span th:text="${user.email}">email@example.com</span>
			</p>


		</div>
	</div>

</body>
</html>
