<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Student</title>
<link rel="stylesheet" th:href="@{/css/studentDashForm.css}">
</head>
<body>
	<h2>Add New Student</h2>

	<!-- Top Button Container -->
	<div class="top-btn">
		<!-- Add Student Button -->
		<a href="#" th:href="@{/students/add}" class="btn add-btn">+ Add
			Student</a>
	</div>

	<form th:action="@{/students/save}" th:object="${student}"
		method="post">
		<label>Name:</label> <input type="text" th:field="*{name}" required><br>
		<br> <label>Email:</label> <input type="email"
			th:field="*{email}" required><br> <br> <label>Phone:</label>
		<input type="text" th:field="*{phone}" required><br> <br>
		<label>Department:</label> <input type="text" th:field="*{department}"
			required><br> <br> <label>Resume Link:</label> <input
			type="text" th:field="*{resumeLink}" required><br> <br>

		<button type="submit" class="btn">Save Student</button>
	</form>

	<a th:href="@{/students}">Back to Student List</a>
</body>
</html>
