<!-- fragments/sidebar.html -->
<div th:fragment="sidebar">
    <div class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <div class="toggle-btn" onclick="toggleSidebar()">
                <i class="fas fa-bars"></i>
                <h2 class="sidebar-title">Admin Panel</h2>
            </div>
        </div>

        <ul class="sidebar-menu">
            <li><a th:href="@{/admin}"><i class="fas fa-home"></i> <span>Dashboard</span></a></li>
            <li class="active"><a th:href="@{/admin/students}"><i class="fas fa-users"></i> <span>Students</span></a></li>
            <li><a th:href="@{/admin/jobs}"><i class="fas fa-briefcase"></i> <span>Jobs</span></a></li>
            <li><a th:href="@{/admin/applications}"><i class="fas fa-file-alt"></i> <span>Applications</span></a></li>
           <!--  <li><a th:href="@{/admin/message}"><i class="fas fa-envelope"></i> <span>Messages</span></a></li> -->
            <li class="logout"><a th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a></li>
        </ul>
    </div>
</div>